* {
  font-family: "Reem Kufi", sans-serif;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}
body {
  /* background-color: #f6f6f6; */
  background-image: url('Assets/backgroundImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}
.nav-logo-container img{
  position: relative;
  left: 5%;
  margin-top: 15%;
  width: 40%;
}
.navbar-menu-container {
  display: none;
}
.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}
.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}
.home-image-section {
  max-width: 600px;
  flex: 1;
}
.home-section {
  font-family: "Jersey 10 Charted", sans-serif;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center; 
  min-height: 80vh; 
}

.home-section #primary-heading {
  font-family: "Jersey 10 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 120px;
}

.home-section #primary-text {
  font-size: 20px;
}




.portfolio-section {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  text-align: center; 
  min-height: 70vh; 
}

.portfolio-section img {
  display: block;
  width: 550px; 
  height: 600px; 
}

.img-wrapper {
  margin-right: 5%;
  /* border: 5px solid #000000; */
  border-radius: 20px;
  overflow: hidden; 
  box-sizing: border-box; 
  padding: 0; 
  box-shadow: 20px 20px 6px rgba(0, 0, 0, 0.5); /* Add drop shadow */
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15%;
  margin-left: 10%;
  text-align: center; /* Center the text */
}

.text-wrapper h1 {
  margin-bottom: 10%;
  font-size: 260%;
  color: beige;
}

.text-wrapper p {
  text-align: center;
}

@media (max-width: 900px) {
  .navbar-menu-container {
    display: flex;
  }
  .navbar-links-container{
    display: none;
  }
}
