* {
  font-family: "Reem Kufi", sans-serif;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}
body {
  background-image: url('Assets/backgroundImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  margin-top: 3rem; /* Add left margin for spacing between links */
  position: fixed;
  top: 0;
  width: 85%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* .nav-logo-container img{
  margin-top: 5%;
  width: 40%;
} */
.navbar-menu-container {
  display: none;
}

.navbar-links-container a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: beige;
  margin-left: 2rem; /* Add left margin for spacing between links */
}

.navbar-menu-container svg {
  cursor: pointer;
}




.home-image-section {
  max-width: 600px;
  flex: 1;
}
.home-section {
  font-family: "Jersey 10 Charted", sans-serif;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center; 
  min-height: 80vh; 
}

.home-section #primary-heading {
  font-family: "Jersey 10 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 120px;
  margin-bottom: 3%;
}

.home-section #primary-text {
  font-size: 20px;
  color: beige;
}

.portfolio-section {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  text-align: center; 
  min-height: 70vh; 
  margin-bottom: 10%;
}

.portfolio-section img {
  display: block;
}

.img-wrapper {
  /* border: 5px solid #000000; */
  border-radius: 20px;
  overflow: hidden; 
  box-sizing: border-box; 
  padding: 0; 
  box-shadow: 20px 20px 6px rgba(0, 0, 0, 0.5); /* Add drop shadow */
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.img-wrapper:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}


.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15%;
  margin-left: 10%;
  text-align: center; /* Center the text */
}

.text-wrapper h1 {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 5%;
  margin-top: 5%;
  font-size: 420%;
  color: beige;
}

.text-wrapper a,
.text-wrapper p {
  text-align: center;
  font-size: 150%;
}

.work-section-wrapper {
  margin-bottom: 5rem;
}
.work-section-top p {
  color: beige;
  font-size: 120%;
  margin-top: 2%;
  text-align: center;
  max-width: 600px !important;
}
.work-section-top h1 {
  font-family: "Jersey 10 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 600%;
  max-width: 800px !important;
}
.work-section-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.work-section-info {
  text-decoration: none;
  width: 290px;
  min-height: 350px;
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: #505050;
  margin: 1rem 2rem;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.work-section-info:hover {
  background-color: #008f9f; 
  transform: scale(1.05); 
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}

.work-section-info h2 {
  margin: 1rem 0rem;
}

.work-section-bottom {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  .navbar-menu-container {
    display: flex;
  }
  .navbar-links-container{
    display: none;
  }
}
